@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }

  body {
    background-color: #101010;
    font-family: "Ubuntu Sans", sans-serif;
  }
}

@layer components {
  .btn:hover {
    background-color: rgba(240, 240, 240, 0.3);
  }
}
